<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Document</title>
    </head>
    <body>
        <h1>Submitted Information</h1>
        <p>Name:{{request.session.name}}</p>
        <p>{{request.session.cartype}}</p>
        <p>{{request.session.genretype}}</p>
        <p>Comment:{{request.session.comment}}</p>
    <form action="/back" method="POST">
        {% csrf_token %}
        <input type="submit" value = "Go Back">
    </form>
        <p>"The best money I ever spent was hiring Jon to create my website!"</p>
    </body>
</html>
