<html>
    <head>
       <title>Registration</title>
    </head>
    <body>
      <h1>Registration</h1>
      <h3>Create a User</h3>
      <p>Email: {{email}}</p>
      <p>Name: {{fname}}</p>
      <p>First Name: {{lname}}</p>
      <p>Last Name: {{passw}}</p>
      <p>Password: {{conpass}}</p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p>{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}



    </body>
</html>
